html{
  overflow-x: hidden;
  max-width: 100%;
}

main{
  padding-top: 50px;
}

section{
  padding-top: 30px;
  padding-bottom: 80px;
}

.top-divider{
  padding: 35px 10px 35px 10px;
}

.divider{
  padding: 50px 10px 50px 10px;
}

section.sign-in{
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-desc{
  margin-bottom: 30px;
}

header.on-section{
  margin-top: 40px;
  margin-bottom: 40px;
}

header.video-title{
  margin-top: 0;
}

header.main-header{
  margin-top: 100px;
  margin-bottom: 40px;
}

table{
  vertical-align: middle;
  width: 100%;
}

.panel{
  border-radius: 3px;
  position: relative;
  background-color: rgba(66, 66, 66, 1);
}

.panel:not(.video-div):not(.divider-pattern):not(.div-panel):hover{
  -webkit-box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.24), 0 1px 15px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.24), 0 1px 15px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.card-times{
  position: relative;
}

.card-times div.open-time{
  position: absolute;
  background-color: #00a14c;
  right: 7.5%;
  padding: 50px 10px 10px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  height: auto;
  width: 200px;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-times div.open-time p,.card-times div.open-time div.par{
  font-size: 14px;
  color: #fff;
}

@media only screen and (max-width: 768px) {

  .card-times{
    position: absolute;
    left: 50%;
  }
  .card-times div.open-time{
    position: relative;
    left: -50%;
    font-size: 12px;
    padding-top: 30px;
  }
}

@media only screen and (max-width: 480px) {

  .card-times{
    position: absolute;
    left: 50%;    
  }

  .card-times div.open-time{
    position: relative;
    left: -50%;
    font-size: 12px;
    padding-top: 10px;
  }
}

.navbar, .navbar.navbar-default{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-collapse{
  padding-left: 30px;
}

.navbar-toggle{
  margin-top: 22.5px;
}

@media only screen and (max-width: 600px) {
  .padding-clear{
    padding: 0; 
  }
}

.logo-header{
  width: 150px;
  margin-top: -10px;
}

a.logo:hover{
  opacity: 1;
}

.flag{
  cursor: pointer;
  height: 18px;
  /*opacity: 1;*/
}

.flag:hover,
.flag:focus{
 /* opacity: 0.8;*/
  cursor: pointer;
}

.navbar-right{
  margin-right: 10px;
}

.nav-container{
  background-color: rgb(37, 36, 36);;
}

.navbar-custom{
  margin-top: -15px;
  background-color: rgb(37, 36, 36) !important;
  border-bottom: none;
}

.navbar-custom.is-fixed{
  border-bottom: none;
}

.is-visible{
  margin-top: 8px;
}

.narrow-row{
  margin-top: 0;
  padding-top: 0;
}

.navbar-brand{
  margin-top: 15px;
}

ul.nb-main{
  margin-top: -25px;
  text-transform: uppercase;
}

.navbar-collapse, .navbar-form{
  margin-top: 15px;
}

.nav li a{
  padding-right: 5px;
  padding-left: 0px;
}

.navbar-brand img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-custom .nav li a.nb-main{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}

.navbar-custom .nav li a.nb-second{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}

.navbar-custom .nav li a.nb-main:hover,
.navbar-custom .nav li a.nb-second:hover,
.navbar-custom .nav li a.nb-main:visited,
.navbar-custom .nav li a.nb-second:visited{
  color: rgba(255, 255, 255, 0.87) !important;
}

.navbar-custom .nav li a.nb-main.green{
  color: rgba(0, 161, 76, 1);
}

.navbar-custom .nav li a.nb-main.green:hover,
.navbar-custom .nav li a.nb-main.green:visited{
  color: rgba(0, 161, 76, 0.87) !important;
}

li.dropdown ul.dropdown-menu li a{
  margin-left: 0;
  list-style: none;
}

ul.nav-bottom{
  text-align: center;
  font-family: 'Racing Sans One', cursive;
  font-size: 24px;
  list-style-type: none;
  margin: 0 10% 0 10%;
  padding-left: 0;
}

ul.nav-bottom li{
  margin-left: 0;
  margin-right: 0;
}

@media only screen and (min-width: 1200px) {
    ul.nav-bottom li{
    margin-right: 0.5%;
    display: block;
    float: left;
  }

  ul.nav-bottom li:not(:first-child){
      margin-left: 5%;
  }
}

ul.nav-bottom  li  a{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  display: block;
  width: auto;
}

ul.nav-bottom li a:hover,
ul.nav-bottom li a:visited{
  color: rgba(255, 255, 255, 0.87) !important;
}

ul.nav-bottom li a.green{
  color: rgba(0, 161, 76, 1) !important;
}

ul.nav-bottom li a.green:hover,
ul.nav-bottom li a.green:visited{
  color: rgba(0, 161, 76, 0.87) !important;
}

.footer-top-second{
  margin-top: 25px;
  text-align: center;
}

.footer-top-second span{
  margin: 0 2% 0 2%;
}

.btn.ghost-btn-footer{
  background-color: transparent;
  border: 2px solid #00a14c;
  border-radius: 3px;
  color: #00a14c;
  font-weight: 500;
  width: 140px;
  padding: 6.5px;
}


.btn.ghost-btn-footer:hover,
.btn.ghost-btn-footer:visited{
  border: 2px solid #00a14c !important;
  background-color: #00a14c !important;
  text-decoration: none;
  color: #fff !important;
}

footer{
  padding-top: 15px;
}

footer .footer-border:not(:last-child){
  border-right: 2px solid  #fbd5d5;
  border-bottom: 0;
}

.ghost{
  text-align: right;
}

.ghost button{
  margin-left: 9%;
}

.socmed{
  margin-top: 10px !important;
  text-align: left;
  padding-left: 3%;
  max-width: 250px;
}

@media only screen and (max-width: 1200px){
  .ghost, .socmed{
    text-align: center;
    padding-left: 3%;
  }

  .ghost button{
    margin-left: 0;
  }
}

.socmed-footer{
  opacity: 0.5;
  margin-bottom: 20px;
}

.socmed-footer:hover,
.socmed-footer:focus{
  opacity: 1;
  cursor:pointer;
  text-decoration: none;
}

.socmed-footer img{
  width: 35px;
}

.panel-footer{
  padding: 5px 0 0 0;
  margin: 0;
}

.footer-top{
  padding: 7.5px;
  margin-top: 10px;
}

.footer-top h5{
  margin-top: 0;
}

.footer-bottom{
  background-color: rgba(66, 66, 66, 1);
  border-top: 1px solid #00a14c;
  margin: 15px 0 0 0;
}

.footer-bottom p{
  font-size: 14px;
  color: #fff;
}

.footer-bottom img{
  height: 18px;
}

.footer-left{
  float: left;
  margin: 0;
  padding: 0;
}

.footer-right{
  float: right;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 478px) {
  .footer-left{
    float: none;
    text-align: center;
  }

  .footer-right{
    float: none;
    text-align: center;
  }
}

@media only screen and (max-width: 1200px) {

  /*footer*/
  footer .footer-border{
    border-right: 2px solid #fbd5d5;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 992px) {
  
  /*header*/
  .logo-header{
    margin-left: 5%;
    width: 120px;
    margin-top: 10px;
  }

  /*footer*/
  footer .footer-border{
    border-right: 2px solid  #fbd5d5;
    margin-bottom: 20px;
  }
}


@media only screen and (max-width: 768px) {
  /*carousel3*/

  .ghost-btn{
      margin:30px auto;
      text-align: center;
  }

  /*footer*/
  footer .footer-border:not(:last-child){
    border-right: none;
    border-bottom: 2px solid  #fbd5d5;
  }
  footer .footer-border{
    border-right: none;
    /*border-bottom: 2px solid  #fbd5d5;*/
  }
}

.img-cards{
   /* height: 10em;*/
    width: 100%;
    overflow: hidden;
}


.divider-pattern{
  background-image: url('../img/pattern-block.png');
  background-attachment: fixed;
  background-size: inherit;
  padding: 0;
  margin: 0;
  border-radius: 0;
  height: 12.5px;
  box-shadow: none;
}

.bg-pattern{
  background-image: url('../img/pattern-block.png');
  background-attachment: fixed;
  background-size: inherit;
}

.bg-white{
  background-color: #fff;
}

.bg-grey{
  background-color: #fafafa;
}

.bg-dark-grey{
  background-color: rgba(37, 36, 36, 1);
}

.bg-light-grey{
  background-color: rgba(66, 66, 66, 1);
}

.bg-green{
  background-color: rgba(0, 161, 76, 1);
}

.bg-asphalt{
  background-image: url('../img/asfalt_light.png');
}

video.vid-background{
  position:absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform:translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-transition: 1s opacity;
}

video.vid-popup{
  position: fixed;
  top: 53%;
  left: 50%;
  width: 88%;
  height: 88%;
  -webkit-transform:translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-transition: 1s opacity;
}

/* POPUP WINDOW FOR VIDEO */
.popup{
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,.6);
  top: 0;
  left: 0;
  z-index: 9999;
  visibility: hidden;
}

.window{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.popup:target{
  visibility: visible;
}
/* POPUP */

.video-banner{
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-title{
  padding-top: 27%;
  padding-bottom: 3%;
}

.video-title h1.display{
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 80px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.video-title img.icon-play{
  height: 60px;
  margin-top: 25px;
  fill: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.btn-play{
  opacity: 0.8;
}

.btn-play:hover{
  opacity: 1;
}

@media only screen and (max-width: 800px) {

  .video-title{
    padding-top: 33%;
  }

  .video-title h1.display{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 70px;
  }

}

@media only screen and (max-width: 480px) {

  .video-bottom .panel-body{
    padding: 25px 10px 25px 10px;
    text-align: center;
  }

  .video-title{
    padding-top: 46%;
  }

  .video-title h1.display{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 60px;
  }

  .video-title img.icon-play{
    height: 50px;
    margin-top: 25px;
  }

}

.card-header{
  padding: 10px 25px 10px 25px;
}

.card-header p.engine-volume, .card-header div.par.engine-volume{
  font-size: 18px;
  font-weight: 100;
  font-style: italic;
}

.card-header .text-left,
.card-header .text-right{
  padding-left: 0;
  padding-right: 0;
  vertical-align: middle;
}

p.card-text, div.par.card-text{
  margin-bottom: 0;
  font-size: 14px;
}

.card-bottom-btn{
  padding: 0;
}

a.btn-flat{
  margin: 0 6px 6px 0;
  padding: 7px;
  font-weight: 600;
  font-size: 14px;
  background-color: transparent;
  color: #00a14c !important;
}

a.btn-flat:hover,
a.btn-flat:focus{
  /*text-decoration: underline;*/
  background-color: rgba(37, 36, 36, 0.5) !important;
}

/* MAIN link */

.main h5{
  margin:0;
}

.main .panel .panel-body{
  padding-bottom: 5px;
}

.main .row.clean-panel .panel .panel-body{
  padding-bottom: 15px;
}

.main a.btn-flat:hover,
.main a.btn-flat:focus{
  /*text-decoration: underline;*/
  color: #ff0000 !important;
  background-color: #fde4e5 !important;
}

/* BUTTON */

.btn{
  border-radius: 3px;
}

.ghost-btn{
  margin:10px auto;
}

.ghost-btn h5{
  margin-top: 5px;
}

.ghost-btn a{
  color: #FFF !important;
  border: 2px solid #fff;
  border-radius: 3px;
  width: 140px;
  padding: 6.5px;
}

.ghost-btn a:hover{
    background-color: #fff !important;
    color: #000 !important;
    font-style: bold;
}

.btn.btn-raised{
  font-family: 'Open Sans', sans-serif;
  padding: 10px 12.5px 10px 12.5px;
  font-size: 18px;
  font-weight: 500;
  min-width: 88px;
}

.btn.btn-raised.share{
  color: #000;
  background-color: #fff;
}

.btn.btn-raised:hover{
  color: #000;
}

.btn-learnmore:hover,
.btn-learnmore:focus{
  background-color: rgba(236, 34, 40, 0.2);
}

.buy-tickets{
  margin:20px 0 0 0;
  width: 100px;
}

.btn-package{
  padding: 10px 10px 10px 10px;
}

.btn.green{
  background-color: rgba(0, 161, 76, 1) !important;
  color: #fff !important;
}

.btn.green:hover{
  background-color: rgba(0, 140, 66, 1) !important;
}

.btn.text-green{
  color: #00a14c;
  background-color: #fff;
}

.text-red{
  color: #ff0000;
}

.text-grey{
  color: rgba(192, 192, 192, 1);
}

.text-green{
  color: rgba(0, 161, 76, 1);
}

.text-yellow{
  color: rgba(255, 215, 0, 1) !important;
}

.text-orange{
  color: rgba(205, 127, 50, 1);
}

div.btn-group button.btn{
  width: 150px;
  margin: 0;
}

/* Font Spec Desktop */
@media only screen and (min-width: 992px) {
  h1.display{
    font-size: 80px;
    font-family: 'Racing Sans One', cursive;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  h2.display{
    font-size: 60px;
    font-family: 'Racing Sans One', cursive;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  h3.display{
    font-size: 36px;
    font-family: 'Racing Sans One', cursive;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  h4.display{
    font-size: 24px;
    font-family: 'Racing Sans One', cursive;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  h1{
    font-size: 42px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
  }

  h2{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
  }

  h3{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
  }

  h4{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
  }

  p, div.par{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  p.lead, div.par.lead{
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  a{
    color: #000;
  }

  a:hover{
    opacity: 0.7;
  }
}

/* Font Spec Tablet */
@media only screen and (max-width: 992px) {
  h1.display{
    font-size: 70px;
    font-family: 'Racing Sans One', cursive;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  h2.display{
    font-size: 50px;
    font-family: 'Racing Sans One', cursive;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  h3.display{
    font-size: 30px;
    font-family: 'Racing Sans One', cursive;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  h4.display{
    font-size: 24px;
    font-family: 'Racing Sans One', cursive;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  h1{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  h2{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  h3{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  h4{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  p, div.par{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  p.lead, div.par.lead{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

}

/* Font Spec Phone */
@media only screen and (max-width: 768px) {

  h1.display{
    font-size: 60px;
    font-family: 'Racing Sans One', cursive;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  h2.display{
    font-size: 40px;
    font-family: 'Racing Sans One', cursive;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  h3.display{
    font-size: 30px;
    font-family: 'Racing Sans One', cursive;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  h4.display{
    font-size: 24px;
    font-family: 'Racing Sans One', cursive;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  h1{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  h2{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  h3{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  h4{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  p, div.par{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  p.lead, div.par.lead{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

}

p.rank, div.par.rank{
  margin: 3px 0 3px 0;
  font-family: 'Oleo Script', sans-serif;
  font-weight: 300;
  font-size: 40px;
}

h5.display{
  font-family: 'Racing Sans One', cursive;
  font-size: 18px;
  color: rgba(255, 255, 255, 1) !important;
}

h5{
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1) !important;
}

h6{
  color: #fff !important;
}

@media only screen and (min-width: 993px) {
  .bg-banner img.icon{
    height:75px;
  }
}

@media only screen and (max-width: 992px) {
  .bg-banner img.icon{
    height:50px;
  }
}

/* Share Button - Card */

.card-share{
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.92);
  top: 0%;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  visibility: hidden;
}

.social-share-btn{
  margin-top: 48%;
  margin-bottom: 30%;
}

.social-share-btn a{
  margin: 0;
  text-decoration: none;
}

.social-share-btn img, .modal-share img{
  width: 45px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.social-share-btn img:hover, .modal-share img:hover{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

.modal-share{
  width: 15%;
  padding: 0;
}

.modal-share .panel-body{
  padding: 8px;
}

.modal-share h5{
  margin-top: 10%;
}

.modal-share a{
  margin: 0;
  text-decoration: none;
}

.modal-close a.btn{
  width: 55px;
  padding: 0;
}

/* SIGN IN */

.panel-sign-in{
  border-radius: 3px;
}

.panel-sign-in .panel-body{
  padding: 20px 10px 20px 10px;
}

.panel-sign-in .panel-body div.input-effect{
  margin-top: 25px;
}

.btn-sign-in{
  width: auto;
  color: #fff !important;
  font-weight: 600;
  padding: 8px 14px 8px 14px;
  background-color: rgba(0, 161, 76, 1) !important;
}

.btn-sign-in:hover{
  background-color: rgba(0, 161, 76, 0.7) !important;
}

/* HOME DIVIDER */
.divider-text{
  font-size: 16px;
  margin-left: 15px;
  margin-right: 15px;
  color: #fff;
}

@media only screen and (max-width: 360px){
  .divider-text{
    margin-left: 0;
    margin-right: 0;
  }
}

/* THE KARTS */
.kart-detail{
  position: absolute;
  top: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.kart-detail .panel-body{
  padding-top: 8px;
  height: 85%;
}

.kart-detail p, .kart-detail div.par{
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  line-height: 24px;
  margin-bottom: 0;
}

.kart-detail p span.desc, .kart-detail div.par span.desc{
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
}

/* TRACK */
img.img-track{
  width: 65%;
  border: 1px solid #fff;
  padding: 3px;
  margin: auto;
}

p.track-distance, div.par.track-distance{
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

/* COMMUNITY */
.table-responsive{
  border: none;
}

.panel-pilot{
  padding: 0;
}

.pilot-photo img{
  width: 100%;
}

.pilot-photo,
.pilot-content{
  padding-left: 0;
  padding-right: 0;
}

.pilot-content .panel-body.table-responsive{
  padding-top: 5px;
}

.pilot-content .panel-body{
  padding: 7.5px 15px 7px 15px;
}

.pilot-data{
  color: #fff;
  font-size: 14px;
  width: 100%;
}

td.italic{
  font-style: italic;
  height: 25px;
}

.green-line-bottom{
  border-bottom: 2px solid #00a14c !important;
}

.panel-body.pilot-content-header{
  padding-top: 0;
  padding-bottom: 0;
}

.pilot-content-header h4{
  padding-top: 10px;
}

table.table-gokart tr{
  border-bottom: 1px solid #00a14c;
}

table.table-gokart th{
  color: #00a14c;
  font-weight: 300;
  height: 45px;
  padding: 15px;
  font-size: 18px;
}

table.table-gokart th.number{
  width: 5%;
}

table.table-gokart th.pilot-name{
  width: 55%;
}

table.table-gokart td{
  color: #fff;
  padding: 10px;
  font-size: 18px;
}

.col-divider{
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}

.champion-bottom-btn{
  padding: 10px 5px 5px 5px;
}

.champion-bottom-btn > a{
  margin-left: 10px;
}

/* Last Race */
.last-race .panel-body.header-date p{
  font-size: 24px;
}

.last-race table{
  color: #fff;
  font-size: 18px;
}

.last-race td.number{
  font-family: "Oleo Script", sans-serif;
  color: #00a14c;
  font-size: 30px;
  width: 35px;
  padding-left: 5px;
}

.last-race td.clock{
  padding-top: 5px;
  width: 30px;
}

.next-events{
  height: 463px;
  overflow-y: auto;
}

.next-events table td{
  padding: 25px;
}

.next-events table td.col-date{
  width: 30%;
}

.next-events table td.event-name{
  font-weight: 600;
}

a i.fa.fa-angle-left,
a i.fa.fa-angle-right{
  color: #fff;
}

/* Gallery */
.galleria{
  width: 100%;
  height: 500px;
}

@media only screen and (max-width: 500px) {
  .galleria{
    height: 350px;
  }
}

/* PROFILE */
.search-panel{
  margin-bottom: 0;
}

.search-panel > .panel-body{
  padding: 15px 10px 5px 10px;
}

.search-result{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: auto;
}

.search-result .panel{
  margin-bottom: 0;
}

.personal-info .has-content.effect-label ~ label{
  color: rgba(255, 255, 255, 0.6);
}

.personal-info .has-content.effect-label ~ .focus-border{
  background-color: rgba(255, 255, 255, 1);
}

.personal-info .col-effect{
  margin-top: 20px;
}

.personal-info .panel-body{
  margin-bottom: 25px;
  padding: 15px 5px 15px 5px;
}

.personal-info .panel-body.card-bottom-btn{
  padding: 5px;
}

/* GALLERY */

.gallery img{
  opacity: 0.87;
  filter: alpha(opacity=0.87);
}

.gallery img:hover{
  opacity: 1;
  filter: alpha(opacity=1);
  cursor: pointer;
}

.image-popup{
  background-color: rgba(0, 0, 0, 0.87);
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  position: fixed;
  visibility: hidden;
  overflow-y: auto;
  padding: 30px 15px;
}

.image-caption{
  padding: 15px;
  display: block;
  background-color: rgba(0,161,76,1);
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

.image-caption h2{
  font-family: "Oleo Script";
}

.close-popup{
  color: rgba(255,0,0,1);
  font-size: 36px;
  cursor: pointer;
}

.close-popup:hover{
  color: rgba(255,0,0,0.4);
}

/* FORM */


/*= input focus effects css
=========================== */
:focus{outline: none;}

.col-effect{float: left; width: 93%; margin: 12px 3%; position: relative;} /* necessary to give position: relative to parent. */
input,textarea,select{font: 14px/16px "Open Sans", sans-serif;font-weight: 300 ; color: #fff; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
 
.effect-label{border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}

.effect-label ~ .focus-border{position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #00a14c; opacity: 0.6; transition: 0.4s;}
.effect-label:focus ~ .focus-border,
.has-content.effect-label ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}
.effect-label ~ label{position: absolute; left: 0; width: auto; top: 9px; font-size: 14px; color: #fff; transition: 0.3s; z-index: 1; letter-spacing: 0.5px;}
.effect-label:focus ~ label, .has-content.effect-label ~ label{top: -16px; font-size: 12px; color: #00a14c; transition: 0.3s;}
/*= input focus effects css End
=============================== */

.panel>.panel-body+.table, .panel>.panel-body+.table-responsive, .panel>.table+.panel-body, .panel>.table-responsive+.panel-body{
  border-top: none;
}

a.prev, a.next{
  cursor: pointer;
}

.last-race div.panel-body:nth-child(2){
  height: 280px;
  overflow-y: auto;
}

.input-effect{
  margin-top: 20px;
}

.effect-label.select option{
  color: #000;
}

.search-result .panel-pilot{
  margin-top: 10px;
  border-bottom: solid 1px #00a14c;
  -webkit-box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.4), 0 1px 15px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.4), 0 1px 15px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.search-result .no-result{
  color: #fff;
  padding: 25px;
}

.search-result .no-result i.fa{
  font-size: 30px;
}

.my-race .panel-body:nth-child(2){
  height: 245px;
  overflow-y: auto;
}

.contact-phone a, .contact-address a{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.contact-phone a:hover, .contact-address a:hover{
  color: rgba(255, 255, 255, 0.67) !important;
}

.visitors{
  max-width: 200px;
  text-align: left;
}