.modal-backdrop{
	z-index: -1;
}

.upload-rules ul li{
	list-style: none;
	color: #ff0000;
	margin-left: -40px;
}

.photo-preview{
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

video{
	width: 100%;
}

img.img-on-table{
	width: 200px;
}

.datepicker{
    z-index: 1100 !important;
}

.race-time input[type='number']{
	width: 75px;
}

form#form_edit_race td{
	padding-right: 10px;
}

.img-gallery-upl{
	height: 330px;
}

.img-gallery-upl img{
	height: 100%;
}